## General rules

# Build folders
[Bb]in/
[Oo]bj/

# NuGet packages
packages

# User-specific files
*.suo
*.user

# Visual Studio
.vs/
UpgradeLog.htm

# Others
~$*
Thumbs.db

## Project specific rules
Model.txt
*.html
